.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    
    .or{
      h2{
        height: 10px;
        padding: 5px;
        margin:5px;
      }
    }
    .google{
      width:50px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
